.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }
  
  .ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    transform: scale(0.5) rotateX(-30deg);
  }
  
  .ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
  }
  
  .ReactModal__Content.modal-dialog {
    border: white;
    background-color: transparent;
  }

  .modal-content{
    color: rgb(199, 33, 33);
  }

.cuerpopublicacion{
  color:black;
}

  .titulo1{
    color: rgb(199, 33, 33);
    font-size: 30px;
  }

  .PPP{
    color:rgb(199, 33, 33);
  }

  .sr-only{
    color:white;
  }

  .btn{
    background-color:rgb(199, 33, 33);
    color:white;
  }