.titulo{
    color:  rgb(199, 33, 33);
    font-size: 29px;
}

.comentario{
    font-size: 15px ;
    text-align: inherit;
    color: BLACK;
}

.cargador{
    margin-left: 0px;
    margin-top: 100px;
}

.imagen{
    height: 150px;
    width: 150px;
}