.navbar{
  background: rgb(199, 218, 33);
  background: linear-gradient(to right, rgb(199, 33, 33), rgb(199, 218, 33)); 
  color: white;
}

  .App{
    background: rgb(199, 218, 33);
    background: linear-gradient(to right, rgb(199, 33, 33), rgb(199, 218, 33)); 
    text-align: center;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card{
  background-color: white;
}